<ion-header>
  <ion-navbar>
    <ion-title>
      QR Scanner cutieOS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
   <ion-input type="text" placeholder="Name" [(ngModel)]="invitation.name"></ion-input>
 </ion-item>
 <ion-item>
  <ion-input type="text" placeholder="Lastname" [(ngModel)]="invitation.lastname"></ion-input>
</ion-item>
 <ion-item>
  <ion-input type="text" placeholder="Description" [(ngModel)]="invitation.description"></ion-input>
 </ion-item>
 <button ion-button full icon-left (click)="createInvitation()"><ion-icon name="barcode"></ion-icon>Create Invitation</button>
 <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

 <ion-card *ngIf="createdCode">
   <ngx-qrcode qrc-class="qr" id="qr" qrc-element-type="img" [qrc-value]="createdCode"></ngx-qrcode>
   <ion-card-content>
     <p>Value: {{ createdCode }}</p>
     <button ion-button (click)="otherShare()">Share</button>
   </ion-card-content>
 </ion-card>

 <ion-card *ngIf="scannedCode">
   <ion-card-content>
     Invitation: {{ scannedCode }}
   </ion-card-content>
 </ion-card>

 <ng-container *ngIf="accepted === true;else second">
   <img src="../../assets/imgs/checked.png">
 </ng-container>
<ng-template #second>
    <ng-container *ngIf="accepted === false;else third">
          <img src="../../assets/imgs/denied.png">
    </ng-container>
</ng-template>
<ng-template #third></ng-template>

<div *ngIf="scannedCode">
<button ion-button color="dark" (click)="clean()">Clean</button>
</div>

</ion-content>
